<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777995831689-2ep2pdtjsp2iv9pj8di3al24h8h71odf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777995831689-2ep2pdtjsp2iv9pj8di3al24h8h71odf</string>
	<key>API_KEY</key>
	<string>AIzaSyBg1Wpe9uulns8TgX82bitPdTztiKq3kzY</string>
	<key>GCM_SENDER_ID</key>
	<string>777995831689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ead</string>
	<key>PROJECT_ID</key>
	<string>projeto-ead-1fa77</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-ead-1fa77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777995831689:ios:de2b2037ca7fe9934d7958</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-ead-1fa77.firebaseio.com</string>
</dict>
</plist>